.page {
    --dither-spacing: 3vmin;
    --golden-ratio: 1.61803398875;
    --background: #EFE0CD;
    --accent: #D74E4A;
    --black: #211F24;

    color: var(--black);
    background: var(--background);
    display: flex;
    min-height: 100vh;

    font-family: var(--font-hanken-grotesk), sans-serif;
}

.leftPanel {
    background: var(--black);
    color: #fff;
    padding: var(--dither-spacing);
    flex-grow: 1;
    h2 {
        font-size: 3vmin;
        letter-spacing: -0.1vmin;
        line-height: 0.8;
    }
}

.rightPanel {
    width: 66.66vh;
    padding: var(--dither-spacing);
    display: flex;
    gap: var(--dither-spacing);

    h2 {
        font-size: 4vmin;
        letter-spacing: -0.15vmin;
        line-height: 0.8;
    }

    h1 {
        font-size: 9vh;
        min-width: 0;
        letter-spacing: -0.5vh;
        line-height: 0.8;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        color: var(--accent);
        span {
            color: var(--black);
        }
        /*border: 1px solid red;*/
    }

    p {
        font-size: 1.5vmin;
        width: calc(100% * calc(var(--golden-ratio) - 1));
        opacity: 0.75;
        /*border: 1px solid red;*/
    }
}

.card {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--dither-spacing) * 0.5);

    /*border-top-left-radius: calc(var(--dither-spacing) * 2);*/
    /*border-bottom-right-radius: calc(var(--dither-spacing) * 2);*/
    /*background: var(--accent);*/
}

.squareCheckbox {
    width: 2vmin;
    height: 2vmin;
    margin: 0;
    appearance: none;
    background: var(--accent);
    border-radius: 0;
    cursor: pointer;
}

.squareCheckbox:checked {
    background: var(--background);
    box-shadow: inset 0 0 0 0.6vmin var(--accent);
}
