.icon {
  width: 0.8vmin;
  height: 0.8vmin;
  border-bottom: 0.2vmin solid var(--background);
  border-left: 0.2vmin solid var(--background);
}

.fileInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
