.arc {
  width: 15vmin;
  height: auto;
  display: block;
  position: absolute;
  right: -7.5vmin;
  transform: scale(-1);
  top: calc(-15vmin - var(--dither-spacing) / 2);
}

.path {
  fill: var(--accent);
  stroke-linecap: square;
}
